@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Ubuntu", sans-serif;    padding: 10px;
    background-color: #e6f4fd;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    margin-right: 250px;
    margin-left: 250px;
    padding: 0 80px;
    height: 80px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}
.losgo{
    background-color: #e6f4fd;
}
main{
    position: relative;
}
.menu{
    background-image: url("/Images/background.png");
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -60px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
    background-attachment: scroll;
    position: relative;
    display: flex;
}
.menu {
    mask: url("bottom-left.svg") center / contain no-repeat, linear-gradient(#000000 0 0);
    mask-composite: exclude;
    mask-size: 40rem;
    mask-position: bottom left;
    
}